*{
    padding: 0;
    margin: 0;
}
.container{
    box-sizing: border-box;
    background-color: #0000000d;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    font-family: "Inter", sans-serif;
}

@keyframes buttonanimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
nav{
    width: 100vw;
    max-width: 100%;
    box-sizing:  border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: medium;
    min-height: 45px;
    gap: 10px;
    padding: 0px 15px;
    background-color: white;
}
nav>div{
    display:block;
    width: 80%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
nav>ul{
    display: flex;
    list-style: none;
}
nav>ul>li{
    padding: 0 7px;
}
nav>input{
    background-color: #48d5fb;
    color: whitesmoke;
    padding: 4px 7px;
    border: 2px solid #48d5fb;
    border-radius: 3px;
    cursor: pointer;
}
nav>input:active{
    animation: buttonanimation 350ms ease-in-out  1  ;
}
main{
    position: relative;
}
#Money{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CB{
    margin-top: 25px;
    width: 70vw;
    height: 125px;
    color: gray;
}
.cbamount{
    font-size: 80px;
    color: black;
}
.IE{
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
    color: grey;
}
.IE>div{
    box-sizing: border-box;
    width: 35vw;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 6px #0000008f;
    border-radius: 9px;
    padding: 12px;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border-radius: 6px;
    margin-right: 12px;
}
.inlogo{
    background-color: rgba(95, 355, 0, 0.55);
}
.inamount{
    padding-top: 5px;
    color: black;
    font-size: 30px;
}
.exlogo{
    background-color: rgba(255, 0, 0, 0.308);
}
.examount{
    padding-top: 5px;
    font-size: 30px;
    color: black;
}
#transactions{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.transactionsblock{
    box-sizing: border-box;
    width: 45vw;
    height: 400px;
    background-color: white;
    box-shadow: 0px 0px 6px #0000008f;
    border-radius: 12px;
    padding: 12px;
    font-size: 18px;
    position: relative;
}
.transactionsblock span{
    display: block;
    position: absolute;
    top: 9px;
    background-color: white;

}
.transactions{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.transactions::-webkit-scrollbar{
    display: none;
}
.transactionblock{
    position: relative;
}
.transactionblock button{
    border: none;
    position: absolute;
    top: 16px;
    right: 13px;
    background-color: white;
    font-weight: 600;
    color: #808080b0;
    cursor: pointer;
    font-size: 12px;
}
.transactionblock button:active{
    animation: buttonanimation 350ms ease-in-out  1  ;
    color: grey;
}
.transaction{
    width: 100%;
    height: 100px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 7px;
    gap: 7px;
}
.Tlogo{
    height: 50px;
    width: 50px;
    background-color: rgba(133, 133, 134, 0.45);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #808080bd;
    font-weight: 600;
}
.Tdetails{
    flex-grow: 1;
    height: 100%;
    width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Tname{
    margin: 6px;
    font-size: 18px;
    font-weight: 450;
}
.Tdate{
    margin: 0px 6px;
    font-size: 15px;
    font-weight: 430;
    color: grey;
}
.Tamount{
    width: 125px;
    height: 100%;
    font-weight: 600;
    font-size: 23px;
    display: flex;
    align-items: center;
}
.red{
    color: red;
}
.green{
    color: green;
}
.line{
    width: 100%;
    height: 3px;
    background-color: #00000040;
    border-radius: 2px;
}
.optional{
    box-sizing: border-box;
    width: 25vw;
    height: 400px;
    background-color: white;
    box-shadow: 0px 0px 8px #0000008f;
    border-radius: 12px;
}
footer{
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.438);
    margin-top: 12px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: white;
}
.transactionform{
    background-color: aqua;
    position: absolute;
    top: 12px;
    right:10px;
    border-radius: 12px;
}
.cancel input{
    color: rgb(69, 69, 69);
    font-weight: 800;
    font-size: 14px;
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 2px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
}
.cancel input:active{
    animation: buttonanimation 350ms ease-in-out  1  ;
}
.transactionform>form{
    height: 255px;
    width: 500px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}
#formfirstdiv{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 4px;
    width: 100%;
}
#formfirstdiv input{
    width: 190px;
    height: 25px;
    padding-left: 3px;
    border: none;
    border-radius: 4px;
}
#formfirstdiv input:focus{
    outline: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: box-shadow ease-in-out 400ms;
}
#formseconddiv{
    font-size: 15px;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    padding-left: 2px;
    font-size: 15px;
}
#formthirddiv{
    width: 100%;
}
#formthirddiv input{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding-left: 3px;
}
#formthirddiv input:focus{
    outline: none;
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 400ms;
}
#submit{
    padding: 5px 12px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#submit:active{
    animation: buttonanimation 350ms ease-in-out  1  ;
}
