*{
    padding: 0;
    margin: 0;
}
.container{
    box-sizing: border-box;
    background-color: #0000000d;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
}
nav{
    width: 100vw;
    max-width: 100%;
    box-sizing:  border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: medium;
    min-height: 45px;
    gap: 10px;
    padding: 0px 15px;
    background-color: white;
}
nav>div{
    display:block;
    width: 80%;
    text-align: center;
    font-size: x-large;
}
nav>ul{
    display: flex;
    list-style: none;
}
nav>ul>li{
    padding: 0 7px;
}
nav>input{
    background-color: #48d5fb;
    color: whitesmoke;
    padding: 4px 7px;
    border: 2px solid #48d5fb;
    border-radius: 3px;
    cursor: pointer;
}
#Money{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CB{
    margin-top: 25px;
    width: 70vw;
    height: 125px;
    color: gray;
}
.cbamount{
    font-size: 80px;
    color: black;
}
.IE{
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
    color: grey;
}
.IE>div{
    box-sizing: border-box;
    width: 35vw;
    height: 100px;
    background-color: white;
    border: 2px solid #0000008f;
    border-radius: 9px;
    padding: 12px;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border-radius: 6px;
    margin-right: 12px;
}
.inlogo{
    background-color: rgba(95, 355, 0, 0.55);
}
.inamount{
    padding-top: 5px;
    color: black;
    font-size: 30px;
}
.exlogo{
    background-color: rgba(255, 0, 0, 0.308);
}
.examount{
    padding-top: 5px;
    font-size: 30px;
    color: black;
}
#transactions{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.transactions{
    width: 45vw;
    height: 400px;
    background-color: white;
    border: 2px solid #0000008f;
    border-radius: 12px;
}
.optional{
    width: 25vw;
    height: 400px;
    background-color: white;
    border: 2px solid #0000008f;
    border-radius: 12px;
}